@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'montserrat', sans-serif;
    outline: none;
    border: none;
}

body {
    min-height: 100vh;
    
    background-image: url(../images/Banner.png);
    
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    
}


nav {
    position: fixed;
    width: 100vw;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff40;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 15px -6px #424242;
}

@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
        padding: 7px 0;
    }
}

.logo img {
    margin: 0 15px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: right ;
    
}

@media screen and (max-width: 768px) {
    ul {
        flex-wrap: wrap;
    }
}

ul li {
    padding: 5px 30px;
    
}

ul li a {
    top: 15px;
    color: #ffffff;
    font-size: 1rem;
    text-decoration: none;
    position: relative;
    
}

ul li a::before {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 43%;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    transition: 0.5s;
}

/*  ul li a:hover {
    background-color:#ECF1FB;
    padding: 2px;
    border-radius: 15px;
}  */

  

/* Bottom right text */
.text-block {
    position:fixed;
    bottom: 100px;
    left: 20px;
    font-size: 60px;
    
    color: white;
    padding-left: 80px;
    padding-right: 20px;
  }
.logo-txt{
    position: absolute;
    color: white;
   top: 30px;
    left: 36px;
    padding: 5px 30px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    
  }
  .chat-btn{
    transform: scale(1.8);
    position: absolute;
    bottom: 8px;
    right: 30px;
    
  }
  